@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

/* Header start */
header{
  width: 100% ;
  background: #EEEEEE;
  
}

.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 87px;
}

.header__wrapper{
  padding-top: 48px;
}

.nav{
  padding-top: 27px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-item{
  list-style-type: none;
  margin-right: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.list-item__link{
  text-decoration: none;
  text-transform: uppercase;

}

.list-item__link:visited{
  border-bottom: 2px solid #FB565A;
}

.list-item__link:hover{
  color: #FB565A;
}

.list-item__link:active{
  opacity: 0.3;
}

.header__nav-link:last-child{
  margin-right: 0;
}

.basket{
  padding-top: 27px;
}

.link-basket{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-basket__pic{
  width: 15px;
  margin-right: 24px;
}

.link-basket:hover{
  color: #FB565A;
}

.link-basket:active{
  opacity: 0.3;
}

.link-basket:visited{
  border-bottom: 2px solid #FB565A;
}

.link-basket__text{
  text-transform: uppercase;
  margin-left: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.title-header__template{
  text-align: center;
  margin-bottom: 108px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 108px;
}

/* Header end */

/* Main style start */

.catalog-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;
}
/* Cost */
.cost-block__title,
.grid-block__title,
.features-block__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-cost{
  width: 260px;
  height: 80px;
  margin-top: 48px;
  background: #EEEEEE;
  border-radius: 3px;
  margin-bottom: 14px;
}

.range-cost__input{
  width: 205px;
  height: 2px;
  margin: 39px 22px 39px 33px;
}

.price-controls__label{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  margin-right: 11px;
}

.price-controls__input{
  width: 80px;
  height: 38px;
   background: #EEEEEE;
  border-radius: 3px;
  text-align: center;
  border: none;
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

}

/* Grid */

.grid-block{
  margin-top: 54px;
}

.grid-block__title,
.features-block__title{
  margin-bottom: 16px;
}

.grids-form{
  margin-bottom: 31px;
}

.type-grid{
  margin-bottom: 15px;
  position: relative;
  margin-left: 10px;
}

.type-grid__input{
  visibility: hidden;
}

.type-grid__label{
  width: 149px;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
  margin-left: 11px;

}

.type-grid__label::before{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 25px;
  height: 25px;
  border: 4px solid #EEEEEE;
  border-radius: 50%;
}

.type-grid__input:checked+.type-grid__label::after{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 8px;
  left:-3px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background:#EEEEEE ;
}

/* Features */

.form-features{
  margin-bottom: 50px;
}

.type-features{
  margin-bottom: 10px;
  position: relative;
  margin-left: 10px;
}

.type-features__label{
  margin-left: 13px;
  width: 172px;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.type-features__input{
  visibility: hidden;
}

.type-features__label::before{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 23px;
  height: 23px;
  border: 3px solid #EEEEEE;
  border-radius: 3px;
}

.type-features__input:checked+.type-features__label::after{
  box-sizing: border-box;
  content: "\2714";
  position: absolute;
  top: 3px;
  left: -8px;
  width:20px ;
  height:16px ;
  color: #EEEEEE;
 
} 

 /* .type-features__label::before{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 23px;
  height: 23px;
  background-image: url(../img/Shape\ \(1\).svg);
  opacity: 0.3;
 }

.type-features__input:checked+.type-features__label::after{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width:25px ;
  height:23px ;
  background-image: url(../img/svg/checkbox-on.svg);
}  */

/* Button */
.container-filter__button{
  font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 width: 260px;
 background: #EEEEEE;
 border-radius: 3px;
 border: none;
 padding: 17px 89px 15px 88px;
}

.container-filter__button:hover{
  background: #DFDFDF;
}

.container-filter__button:active{
  background: #D5D5D5;
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
 opacity: 0.3;
}

/* Projects start */
.nav-products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 758px;
  margin-left: 140px;
  margin-bottom: 48px;
}

.nav-products__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.list-products{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}


.filter-item{
  list-style-type: none;
  margin-right: 25px;
}



.filter-item__link{
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.filter-item_last{
  margin-right: 0;
}
.filter-item__link:hover{
  opacity: 0.6;
}

.filter-item__link:active{
  color: #000000;
}

.filter-item__link:visited{
  color: #000000;
}
/* Product start */

.product-catalog{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 758px;
  margin-bottom: 55px;
  margin-left: 140px;
}

.container-product{
  position: relative;
 margin-bottom: 31px;
}

.container-product:hover {
  box-shadow: 1px  #C4C4C4;
}

.container-product:hover .header-container{
  background: #4D4D4D;
}

.header-container{
 background-color: #EEEEEE;
 width: 359px;
 height: 40px;
 border-radius: 3px;
}


.circles-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.circles-list:first-child{
  margin-left: 16px;
  margin-right: 9px;
}

.circles-list__item{
  text-decoration: none;
 list-style-type: none;
 width: 14px;
 height: 14px;
 border-radius: 50%;
 position: relative;
 background: white;
 margin-top: 13px;
 margin-right: 9px;
}

.product-body{
  width: 359px;
 position: relative;
}


.product-body__img{
  border-radius: 3px;
}

.product-body:hover .product-form{
  display: block;
}

.product-form{
 width: 359px;
 height: 231px;
 background-color:  #EEEEEE;
 border-radius: 3px;
 text-align: center;
 position: absolute;
 bottom: 0;
 left: 0;
 display: none;
 transition: bottom 0.5s;
}


.product-form__title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 26px 144px 12px 145px;
}

.product-form__text{
  width: 255px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  padding-left: 52px;
  padding-bottom: 32px;
}

.product-form__buy{
  text-decoration: none;
  width: 200px;
  background-color: #FB565A;
  color: white;
  padding: 17px 72px 15px 72px;
  border-radius: 3px;
}

.product-form__title:hover{
  color: #FB565A;
}

.product-form__title:active{
  opacity: 0.3;
}

.product-form__buy:hover{
  background: #E74246;
}

.product-form__buy:active{
  background: #D7373B;
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Product end */

/* Button page start */
.btn-page{
 display: flex;
 flex-direction: row;
 margin-left: 140px;

}

.btn-page__link{
  width: 50px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 3px;
  padding: 17px 20px 15px 20px;
  margin-right:11px ;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
}

.btn-page__link_next{
  width: 260px;
  padding: 17px 11px 15px 78px;
  text-transform: uppercase;
}

.btn-page__link_active{
 border: 3px solid #DBDBDB;
 border-radius: 3px;
 background-color: white;
}

.btn-page__link:hover{
  background: #DFDFDF;
}
.btn-page__link:active{
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* Button page end */

/* Map section start */
.map-container{
  overflow:hidden;
  padding-bottom:416px;
  position:relative;
  height:0;
  margin-top: 80px;
}

.map-container__link{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  z-index: 2;
}

.info-form{
  width: 320px;
  height: 308px;
  background-color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  z-index: 3;
  top: 54px;
  left:140px;
  text-align: center;
}

.info-form__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding: 50px 76px 25px 50px;
}

.info-form__address{
  padding-bottom: 23px;
}

.info-form__address, .info-form__tell{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  width: 230px;
  padding-left: 50px;
  text-align: left;
}

.info-form__tell{
 margin-bottom: 47px;
}

.info-form__btn{
  width: 220px;
  padding: 15px 44px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #FB565A;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.info-form__btn:hover {
  background-color: #E74246;
 }
 
.info-form__btn:active {
  background: #D7373B;
  opacity: 0.3;
 }

.map-register{
  width: 300px;
  background-color: #fff;
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 30px;
  height: 300px;
  padding-top: 25px;
  box-sizing: border-box;
  position: absolute;
  display: none;
}

.info-form__btn:active .map-register{
  display: block;
}

.map-register__label{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  padding-left: 20px;
}

.map-register__input{
  width: 240px;
  border:2px solid #D7DCDE;
  border-radius: 3px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 16px;
}

.map-register__btn{
  width: 220px;
  margin-bottom: 47px;
  border: none;
  padding: 15px 44px;
  border-radius: 3px;
  color: #fff;
  background-color: #FB565A;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.map-register__btn:hover {
  background-color: #E74246;
 }
 
.map-register__btn:active {
  background: #D7373B;
  opacity: 0.3;
 }

 .map-register__input:focus{
  border: 2px solid #000000;
 }
 .map-register__input:hover{
  border: 2px solid #B4B9BB;
 }

.map-register__close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
 }

 .map-register__close:active{
  opacity: 0.3;
 }

.map-register__close:before, .map-register__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color:  #f87d7f;
  }
  .map-register__close:before {
  transform: rotate(45deg);
  }
  .map-register__close:after {
  transform: rotate(-45deg);
  }

/* Map section end */

/* Main style end */

/* Footer start */
.container{
  display: flex;
  flex-direction: row;
} 

.social{
  margin-right: 130px;
  margin-top: 69px;
  justify-content: center;
}

.social-list{
  display: flex;
  flex-direction: row;
 
}

.social-item{
  text-decoration: none;
  list-style-type: none;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
  margin-right: 9px;
  position: relative;
}

.social-item__link_vk::after{
  content: '';
  position: absolute;
  background-image: url(../img/vk-icon.png);
  top: 50%;
  left: 50%;
  width: 26px;
  height: 15px;
  top: 33px;
  left: 27px;
}

 .social-item__link:hover{
  background-color:#E74246;;
}

.social-item__link:active{
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.social-item__link_f::after{
  content: '';
  position: absolute;
  background-image: url(../img/fb-icon.png);
  top: 31px;
  left: 35px;
  width: 12px;
  height: 22px;
}

.social-item__link_inst::after{
  content: '';
  position: absolute;
  background-image: url(../img/insta-icon.png);
  top: 30px;
  left: 30px;
  width: 21px;
  height: 21px;
}

.info-footer{
  margin-top: 75px;
  margin-left: 139px;
}

.info-footer__title{
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.info-footer__text{
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-bottom: 74px;
  text-align: left;
}

/* Footer end */