
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
}


.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}


/* Header style start */

header{
  width: 100% ;
  background: #EEEEEE;
  
}

.header__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 48px;
  align-items: center;
}

.nav{
  padding-top: 27px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-item{
  list-style-type: none;
  margin-right: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.list-item__link{
  text-decoration: none;
  text-transform: uppercase;

}

.list-item__link:visited{
  border-bottom: 2px solid #FB565A;
}

.list-item__link:hover{
  color: #FB565A;
}

.list-item__link:active{
  opacity: 0.3;
}

.header__nav-link:last-child{
  margin-right: 0;
}

.basket{
  padding-top: 27px;
}

.link-basket{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-basket__pic{
  width: 18px;
}

.link-basket:hover{
  color: #FB565A;
}

.link-basket:active{
  opacity: 0.3;
}

.link-basket:visited{
  border-bottom: 2px solid #FB565A;
}

.link-basket__text{
  text-transform: uppercase;
  margin-left: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
/*Header style end  */

/* Main style start */


/* Section slogan style start */
.slogan{
  background: #EEEEEE;
}

.slogan__container{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.slogan-info{
  align-self: center;
}

.slogan-info__title{
  margin-top: 72px;
  margin-bottom: 25px;
  width: 397px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.slogan-info__content{
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  width: 400px;
  margin-bottom: 40px;
}

.slogan-info__btn{
  width: 240px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #FB565A;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.slogan-info__btn:hover {
 background-color: #E74246;
}

.slogan-info__btn:active {
  background: #D7373B;
  opacity: 0.3;
}

.main__slogan-img-pic{
  width: 760px;
  height: 100%;
}

.main__slogan-btn:hover{
  opacity: 0.65;
}

/* Section slogan style end */

/* Section orders start */

.orders{
  margin-top: 80px;
  background: #fff;
}

.orders__containers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

.orders::after{
  display: block;
  content: '';
  height: 2px;
  background-color: #EEEEEE;
  margin: 0 auto;
  width: 1160px;
}

.order{
  width: 300px;
}

.order__img{
  width: 300px;
  margin-bottom: 25px;
}

.order__title{
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.order__text{
  width: 260px;
  color: #283136;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 24px;
}

.order__btn{
  width: 160px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-top:17px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
}


.order__btn_pink{
  background-color:#FB565A; ;
}

.order__btn_pink:hover{
  background: #E74246;
}

.order__btn_pink:active{
  background: #D7373B;
  opacity: 0.3;
}

.order__btn_green{
  background-color: #00CA74;
}

.order__btn_green:hover{
  background:#00BC6C;
}

.order__btn_green:active{
  background: #00AA62;
  opacity: 0.3;
}

.order__btn_yellow{
  background-color:  #EFC849;
}

.order__btn_yellow:hover{
  background:#EAB534;
}

.order__btn_yellow:active{
  background: #E5A722;
  opacity: 0.3;
}

/* Section orders end */

/* About us start */
.about-us__containers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us::after{
  display: block;
  content: '';
  height: 2px;
  background-color: #EEEEEE;
  margin: 0 auto;
  width: 1160px;
}

.info{
  margin-top: 73px;
}

.info__title{
  width: 650px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.info__text{
  color: #283136;
  margin-bottom: 40px;
  width: 645px;
}

.info-list__item_title{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 23px;
  list-style-type: none;
  text-transform: uppercase;
}

.info-list{
  width: 400px;
  color: #283136;
  margin-bottom: 73px;
}

.info-list__item {
  margin-bottom: 23px;
  list-style-type: none;
  position: relative;
  padding-left: 32px;
  white-space:nowrap
}

.info-list__item::before{
  content: '';
  height: 2px;
  width: 25px;
  background-color: #FB565A;
  position: absolute;
  top: 50%;
  left: 0;
}

.statistic{
  margin-top: 39px;
}

.statistic__img{
  margin-bottom: 37px;
}

.statistic__title{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 31px;
}

.statistic-info-list{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 74px;
}

.statistic-info{
  position: relative;
} 

.statistic-info__number{
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-bottom: 10px;
  height: auto;
}

.statistic-info__number::after{
  content: '%';
  position: absolute;
  top: 5px;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  width: 20px;
}


.statistic-info__text_sm-size{
  width: 120px;
}
.statistic-info__text_md-size{
  width: 125px;
}
.statistic-info__text_lg-size{
  width: 135px;
}
.statistic-info__text{
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

/* About us end */

/* Partners start */

.partners-imgs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 46px;
  position: relative;
}

.partners::after{
  display: block;
  content: '';
  height: 2px;
  background-color: #EEEEEE;
  margin: 0 auto;
  width: 1160px;
}

.partners-imgs__link_line::before{
  content: '';
  width: 2px;
  height: 52px;
  background-color: #EEEEEE;;
  position: absolute;
  top: 0;
}

.partners-imgs__link:hover{
  color: black;
}

/* Как сделать эти лого черными?????? */

.partners-imgs__link:active{
  opacity: 0.1;
}
.partners-imgs__item {
  padding-left: 45px;
}


/* Partners end */

/* Map section start */
.map-container{
  overflow:hidden;
  padding-bottom:416px;
  position:relative;
  height:0;
  margin-top: 80px;
}

.map-container__link{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  z-index: 2;
}

.info-form{
  width: 320px;
  background-color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  z-index: 3;
  top: 54px;
  left:140px;
  text-align: center;
}

.info-form__title{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding: 50px 76px 25px 50px;
}

.info-form__address, .info-form__tell{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  width: 230px;
  padding-bottom: 23px;
  padding-left: 50px;
  text-align: left;
}

.info-form__btn{
  width: 220px;
  margin-bottom: 47px;
  padding: 15px 44px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #FB565A;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.info-form__btn:hover {
  background-color: #E74246;
 }
 
.info-form__btn:active {
  background: #D7373B;
  opacity: 0.3;
 }

.map-register{
  width: 300px;
  background-color: #fff;
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 30px;
  height: 300px;
  border: 2px solid black;
  padding-top: 25px;
  box-sizing: border-box;
  position: relative;
}

.map-register__label{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  padding-left: 20px;
}

.map-register__input{
  width: 240px;
  border:2px solid #D7DCDE;
  border-radius: 3px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 16px;
}

.map-register__btn{
  width: 220px;
  margin-bottom: 47px;
  border: none;
  padding: 15px 44px;
  border-radius: 3px;
  color: #fff;
  background-color: #FB565A;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.map-register__btn:hover {
  background-color: #E74246;
 }
 
.map-register__btn:active {
  background: #D7373B;
  opacity: 0.3;
 }

 .map-register__input:focus{
  border: 2px solid #000000;
 }
 .map-register__input:hover{
  border: 2px solid #B4B9BB;
 }

.map-register__close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
 }

 .map-register__close:active{
  opacity: 0.3;
 }

.map-register__close:before, .map-register__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color:  #f87d7f;
  }
  .map-register__close:before {
  transform: rotate(45deg);
  }
  .map-register__close:after {
  transform: rotate(-45deg);
  }



/* Map section end */


/* Main style end */

/* Footer start */
 .container{
  display: flex;
  flex-direction: row;
} 

.social{
  margin-right: 130px;
  margin-top: 69px;
  justify-content: center;
}

.social-list{
  display: flex;
  flex-direction: row;
 
}

.social-item{
  text-decoration: none;
  list-style-type: none;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
  margin-right: 9px;
  position: relative;
}

.social-item__link_vk::after{
  content: '';
  position: absolute;
  background-image: url(../img/vk-icon.png);
  top: 50%;
  left: 50%;
  width: 26px;
  height: 15px;
  top: 33px;
  left: 27px;
}

 .social-item__link:hover{
  background-color:#E74246;;
}

.social-item__link:active{
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.social-item__link_f::after{
  content: '';
  position: absolute;
  background-image: url(../img/fb-icon.png);
  top: 31px;
  left: 35px;
  width: 12px;
  height: 22px;
}

.social-item__link_inst::after{
  content: '';
  position: absolute;
  background-image: url(../img/insta-icon.png);
  top: 30px;
  left: 30px;
  width: 21px;
  height: 21px;
}

.info-footer{
  margin-top: 75px;
  margin-left: 139px;
}

.info-footer__title{
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.info-footer__text{
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-bottom: 74px;
  text-align: left;
}


/* Footer end */